{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 76,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "parser": "typescript"
}
